<section class="contact-section">

    <div class="contact-caption container" data-aos="fade-up">
        <h1 data-aos="flip-up">Contact US</h1>
        <p data-aos="flip-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
            ullamcorper mattis, pulvinar dapibus leo.</p>
    </div>


    <div class="contact-info container" style="overflow-x: hidden; overflow-y: hidden;">

        <div class="col-xl-6" data-aos="zoom-out">
            <div class="contact-info-header">
                <h2>Need Help ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>
            </div>

            <div class="contact-info-icons">
                <div class="col-md-6">
                    <div class="contact-info-icons-item">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="caption">
                            <h5>Product Support</h5>
                            <p>product@Lunar-Roborics.com</p>
                        </div>
                    </div>

                    <div class="contact-info-icons-item">
                        <div class="icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="caption">
                            <h5>Business Support</h5>
                            <p>support@Lunar-Roborics.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-info-icons-item">
                        <div class="icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="caption">
                            <h5>Product Information</h5>
                            <p>+6221.2002.2012</p>
                        </div>
                    </div>

                    <div class="contact-info-icons-item">
                        <div class="icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="caption">
                            <h5>Business Information</h5>
                            <p>+6221.2002.2012</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="contact-info-header mt-5">
                <h3>Office</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="contact-info-icons">
                <div class="col-md-6 left-col">
                    <div class="contact-info-icons-item">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="caption">
                            <h5>US America</h5>
                            <p>location</p>
                        </div>
                    </div>


                </div>

                <div class="col-md-6 left-col">
                    <div class="contact-info-icons-item">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="caption">
                            <h5>Japan</h5>
                            <p>location</p>
                        </div>
                    </div>


                </div>

            </div>



        </div>

        <div class="col-xl-6 contact-form primary-bg" data-aos="zoom-in">
            <div class="form-container">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column">
                        <label for="nameInput">Name</label>
                        <input type="text" id="nameInput" placeholder="Name">
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <label for="phoneInput">Phone</label>
                        <input type="tel" id="phoneInput" placeholder="Phone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex flex-column mt-5">
                        <label for="emailInput">Email</label>
                        <input type="email" id="emailInput" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex flex-column mt-5">
                        <label for="subjectInput">Subject</label>
                        <input type="text" id="subjectInput" placeholder="Subject">
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 d-flex flex-column mt-5">
                        <label for="messageInput">Message</label>
                        <textarea name="" id="" cols="5" rows="5" placeholder="Message"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex flex-column mt-5">
                        <button type="submit">Submit</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>