@import "../../../colors.scss";

.primary-bg {
    background: #080a0c;
}

.contact-section {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;

    .contact-caption {
        position: relative;
        padding-left: 30px;
        color: $colorWhite;

        &::before {
            content: "";
            position: absolute;
            top: 30px;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: $colorAccent;
        }

        &::after {
            content: "";
            position: absolute;
            top: 18px;
            left: -4px;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: $colorAccent;
        }

        h1 {
            font-family: "MuseoModerno", cursive;
            font-size: 72px;
            font-weight: 300;
        }

        p {
            font-weight: 300;
            max-width: 550px;
            color: $lightGray;
        }
    }

    .contact-info {
        width: 100%;
        height: 100%;
        margin-top: 10rem;
        color: $colorWhite;
        display: flex;
        flex-wrap: wrap;

        &-header {
            h2 {
                font-family: "MuseoModerno", cursive;
                font-size: 50px;
                font-weight: 300;
            }

            h3 {
                font-size: 36px;
            }

            p {
                font-weight: 300;
                color: $lightGray;
            }
        }

        &-icons {
            display: flex;
            flex-wrap: wrap;

            &-item {
                display: flex;
                margin-top: 16px;

                .icon {
                    width: 50px;
                    height: 50px;
                    border: 1px solid $colorAccent;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    color: $colorAccent;
                    font-size: 1.3rem;
                    transition: all 0.3s ease-in-out;
                }

                .caption {
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h5 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                &:hover {
                    .icon {
                        background-color: $colorAccent;
                        color: $colorWhite;
                    }
                }
            }
        }

        .form-container {
            padding: 3rem;
            font-family: "Saira", sans-serif;

            label {
                font-weight: 500;
            }

            input,
            textarea {
                color: $lightGray;
                background-color: #080a0c00;
                border-style: solid;
                outline: none;
                border-width: 0px 0px 1px 0px;
                border-color: #1a1e23;
                border-radius: 0px 0px 0px 0px;
                padding: 15px;

                &:focus {
                    border-color: $colorAccent;
                    border-width: 1px;
                }
            }

            button {
                background: #15c7e7;
                color: #080a0c;
                font-weight: 500;
                padding: 17px 0;
                border-radius: 5px;
                border: none;
                outline: none;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: $colorWhite;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .contact-section {
        .contact-info {
            &.container {
                max-width: 100%;
            }
            &-header {
                h2 {
                    font-size: 45px;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .contact-section {
        .contact-caption {
            h1 {
                font-size: 60px;
            }
        }

        .contact-info {
            &.container {
                max-width: 100%;
                padding: 0;
            }
            &-header {
                h2 {
                    font-size: 37px;
                }
            }

            &-icons {
                &-item {
                    .caption {
                        h5 {
                            font-size: 16px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .contact-form {
            margin: 25px 0;
        }

        .form-container {
         
            .d-flex:nth-child(2) {
                label {
                    margin-top: 25px;
                }
            }
        }
    }
}
