<section class="hero-section">
    <div class="bg-overlay"></div>

    <div class="hero-caption">
        <div class="container">
            <div class="row">
                <div class="hero-data col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <span>ARTIFICIAL INTELLIGENCE AND ROBOTICS</span>
                    <h1>Lunar Robotics Challenge</h1>
                    <p>Many space exploration plans proposed by different parties include the Moon as main objective as
                        well as a stepping stone towards Mars. The Moon offers several advantages as base for planetary
                        exploration.</p>
                    <a href="">Discover More</a>
                </div>

                <div class="hero-img col-md-6" data-aos="fade-left" data-aos-delay="200">
                    <img class="w-100" src="../../../assets/images/hero-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="why-us-section ">
    <div class="container d-flex flex-column align-items-center">
        <div class="why-us-caption row align-items-center">
            
            <div class="col-md-5" data-aos="fade-right">
                <h2>Why you choose Lunar Robotics ?</h2>
            </div>

            <div class="offset-lg-1 col-md-6" data-aos="fade-left">
                <p> One of the advantages is the availability of raw materials for building and running a base. One
                    of
                    the materials that would be tremendously advantageous is water.
                </p>
            </div>
        </div>

        <div class="why-us-preview row my-5" data-aos="fade-up">
            <img class="rounded" src="../../../assets/images/lap-img.jpg" alt="">
            <a (click)="playPerviewVideo($event)" href="#" class="play-btn"></a>

            <div id="video-overlay" class="video-overlay">
                <a (click)="close_video($event)" class="video-overlay-close">&times;</a>
            </div>

        </div>
    </div>
</section>



<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/gUVb9g7R9Xk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->