@import "../../../colors.scss";

.hero-section {
    height: 100vh;
    inset: 0;
    background-image: url(assets/images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 100%;
    position: relative;
    overflow: hidden;

    .bg-overlay {
        position: absolute;
        inset: 0;
        background-color: transparent;
        background-image: linear-gradient(180deg, $primaryBackground, 0%, #080a0c99 100%);
        opacity: 1;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

    .hero-caption {
        font-family: "Saira", sans-serif;
        position: relative;
        top: 25%;
        z-index: 11;
        color: $colorWhite;

        h1 {
            font-family: "MuseoModerno", cursive;
            font-size: 72px;
            line-height: 1em;
            font-weight: 300;
            margin: 15px 0;
        }

        span {
            color: $colorAccent;
            font-weight: 300;
        }

        p {
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 30px;
            margin: 15px 0;
        }

        a {
            display: block;
            width: fit-content;
            background-color: $colorAccent;
            padding: 15px 20px;
            border-radius: 5px;
            font-weight: 500;
            color: $primaryBackground;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $colorWhite;
            }
        }

        .hero-img {
            display: none;
        }
    }
}

.why-us-section {
    font-family: "MuseoModerno", cursive;
    margin: 7.5rem 0;
    color: $colorWhite;

    .why-us-caption {
        h2 {
            font-size: 50px;
            line-height: 1em;
            font-weight: 400;
        }

        p {
            color: rgb(204, 204, 204);
            font-weight: 300;
        }
    }

    .why-us-preview {
        position: relative;

        img {
            width: 100%;
            height: 550px;
            object-fit: cover;
            filter: grayscale(100%);
            transition-duration: 1s;
            border-radius: 10px;
        }

        &:hover {
            img {
                filter: none;
            }
        }

        .play-btn {
            width: 70px;
            height: 70px;
            background: radial-gradient(rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            box-shadow: 0px 0px 25px 3px rgba(91, 199, 231, 1);
        }

        /* triangle */
        .play-btn::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-40%) translateY(-50%);
            transform-origin: center center;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-left: 15px solid #000;
            z-index: 100;
            transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        /* pulse wave */
        .play-btn:before {
            content: "";
            position: absolute;
            width: 150%;
            height: 150%;
            animation-delay: 0s;
            animation: pulsate1 2s;
            animation-direction: forwards;
            animation-iteration-count: infinite;
            animation-timing-function: steps;
            opacity: 1;
            border-radius: 50%;
            border: 5px solid rgba(255, 255, 255, 0.75);
            top: -25%;
            left: -25%;
            background: rgba(198, 16, 0, 0);
        }

        @keyframes pulsate1 {
            0% {
                transform: scale(0.6);
                opacity: 1;
                box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
                    0px 0px 25px 10px rgba(255, 255, 255, 0.75);
            }
            100% {
                transform: scale(1);
                opacity: 0;
                box-shadow: none;
            }
        }

        .video-overlay {
            position: fixed;
            z-index: -1;
            inset: 0;
            background: rgba(0, 0, 0, 0.8);
            opacity: 0;
            transition: all ease 500ms;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .video-overlay.open {
            position: fixed;
            z-index: 1000;
            opacity: 1;
        }

        .video-overlay-close {
            position: absolute;
            z-index: 1000;
            top: 15px;
            right: 20px;
            font-size: 36px;
            line-height: 1;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: all 200ms;
        }

        .video-overlay-close:hover {
            color: $colorAccent;
        }

        .video-overlay iframe {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
        }
    }
}

@media screen and (min-width: 992px) {
    .hero-section {
        .hero-caption {
            .hero-img {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero-section {
        .hero-caption {
            top: 25%;
            background-color: transparent;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .why-us-section {
        .container {
            max-width: 80%;
            justify-content: center;

            .why-us-caption {
                h2 {
                    font-size: 40px;
                }

                p {
                    padding: 10px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .hero-section {
        .container{
            max-width: 90%;
        }
        .hero-caption {
            top: 15%;
        }
    }
}
