<section class="services-section">

    <div class="services-caption container" data-aos="fade-up">
        <h1 data-aos="flip-up">Services</h1>
        <p data-aos="flip-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
            ullamcorper mattis, pulvinar dapibus leo.</p>
    </div>


    <div class="services-preview container text-center" data-aos="fade-up">
        <img class="rounded" src="assets/images/services-img.jpg" alt="">
        <a (click)="_VideoHelperService.playPerviewVideo($event , 'https://www.youtube.com/embed/gUVb9g7R9Xk')" href="#"
            class="play-btn"></a>

        <div id="video-overlay" class="video-overlay">
            <a (click)="_VideoHelperService.close_video($event)" class="video-overlay-close">&times;</a>
        </div>

    </div>


    <div class="our-offer">

        <div class="offer-header text-center">
            <h6 data-aos="flip-up">What we offer</h6>
            <h2 data-aos="flip-down">We are intelligence in action.</h2>
        </div>


        <div class="offer-cards container">

            <div class="col-md-4">

                <div class="offer-card">
                    <div class="offer-card-icon"><i class="far fa-lightbulb"></i></div>

                    <h3>Automotive and Subcontractors</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                </div>
            </div>


            <div class="col-md-4">

                <div class="offer-card">
                    <div class="offer-card-icon"><i class="far fa-lightbulb"></i></div>

                    <h3>Automotive and Subcontractors</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                </div>
            </div>


            <div class="col-md-4">

                <div class="offer-card">
                    <div class="offer-card-icon"><i class="far fa-lightbulb"></i></div>

                    <h3>Automotive and Subcontractors</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                </div>
            </div>

            <div class="col-md-4">

                <div class="offer-card">
                    <div class="offer-card-icon"><i class="far fa-lightbulb"></i></div>

                    <h3>Automotive and Subcontractors</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                </div>
            </div>


            <div class="col-md-4">

                <div class="offer-card">
                    <div class="offer-card-icon"><i class="far fa-lightbulb"></i></div>

                    <h3>Automotive and Subcontractors</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                </div>
            </div>


            <div class="col-md-4">

                <div class="offer-card">
                    <div class="offer-card-icon"><i class="far fa-lightbulb"></i></div>

                    <h3>Automotive and Subcontractors</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                </div>
            </div>

        </div>

    </div>


    <div class="why-choose-us container">

        <div class="col-lg-6">
            <div class="choose-us-caption">
                <span>WHY CHOOSE US</span>
                <h2>Illuminate your life with high intelligence.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis, pulvinar dapibus leo.</p>


                <div class="qualifications-cards">
                    <div class="col-lg-6 px-lg-0">
                        <div class="qualifications-card">
                            <h3>01. Experienced</h3>
                            <p>Metus nunc nec ridiculus aenean maximus integer platea letius ex magna</p>
                        </div>
                    </div>

                    <div class="col-lg-6 px-lg-0">
                        <div class="qualifications-card">
                            <h3>02. Quality</h3>
                            <p>Metus nunc nec ridiculus aenean maximus integer platea letius ex magna</p>
                        </div>
                    </div>

                    <div class="col-lg-6 px-lg-0">
                        <div class="qualifications-card">
                            <h3>03. Automations</h3>
                            <p>Metus nunc nec ridiculus aenean maximus integer platea letius ex magna</p>
                        </div>
                    </div>

                    <div class="col-lg-6 px-lg-0">
                        <div class="qualifications-card">
                            <h3>04. Support</h3>
                            <p>Metus nunc nec ridiculus aenean maximus integer platea letius ex magna</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-lg-6 my-3">
            <img src="assets/images/robot.jpg" alt="">
        </div>
    </div>


</section>