/*==============Google Fonts==================*/
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;400;500;700&display=swap');

@import '../src/colors.scss';
@import 'aos/dist/aos.css';

/*==============General Styles==================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "MuseoModerno", cursive;
    background: $primaryBackground;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}


